@model IList<Agrupamento>

@{
    var compId = Guid.NewGuid().ToString("N");
}

@section StyleSheets{
    <link rel="stylesheet" href="~/css/Recados/Recados.VerRecados.css" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="@compId">
                <div class="tab">
                    @foreach (var agrupamento in Model)
                    {
                        <button class="tablinks" id="@(agrupamento.IdUnico)">
                            @agrupamento.RecadoInicial.Assunto
                            <span class="badge badge-light pull-right">@agrupamento.RecadosResposta.Count</span>
                        </button>

                        @if (agrupamento.RecadosResposta.Count > 1)
                        {
                            <div data-id="@(agrupamento.IdUnico)" class="recados-agrupados">
                                @foreach (var recado in agrupamento.RecadosResposta)
                                {
                                    <a href="#@(recado.IdUnico)" class="tabsublinks">@recado.Assunto</a>
                                }
                            </div>
                        }
                    }
                </div>
                @foreach (var agrupamento in Model)
                {
                    @Html.DisplayFor(x => agrupamento)
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Recados/Recados.VerRecados.js"></script>
    <script>
        new Recados_VerRecados($("#@compId"));
    </script>
}